.button {
    display: flex;
    padding: 0.8em 1.5em;
    gap: 0.4rem;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, yellow, var(--light-green)) no-repeat;
    background-size: 300%;
    background-position: left center;
    font-weight: bold;
    box-shadow: 0 5px 20px var(--light-green);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
