footer{
    background-color: var(--cor-12);
    color: white;
    background-color: #229851;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 2rem 4rem;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

footer > p {
    width: 60%;
    text-align: center;
}
.social-links{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    footer{
        padding: 2rem 1rem;
    }
    footer > img{
        width: 20%;
    }
    .footer-links{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 0.8rem;
    }

    footer > p {
        display: none;
    }
    h1{
        width: 100%;
    }
}