.partner-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background-color: #19191D;
    width: 100%;
    height: auto;
    padding: 6rem 0rem;
}
.partner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.partner-content > h1{
    color: var(--white);
    width: 50%;
    text-align: center;
    font-size: 4rem;
}

.partner-content > p{
    color: var(--white);
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
}

.partner-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
}
.partner-card{
    position: relative;
}
.partner-info-content{ 
    color: black;
    padding: 1rem;
    width: 18vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    background: url("../../assets/Frame.png") no-repeat;
    background-position: top right;
    background-size: 65%;
    background-color: #434343;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.partner-card > p {
    color: rgb(84, 84, 84);

}
.partner-info{
    width: 90%;
}
.partner-info > h2 {
    color: white;
    width: 60%;
}
.partner-info > p {
    font-size: small;
    color: rgb(142, 142, 142);
}
.partner-image{
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
}

