.review-content{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--white);
    
    padding: 1rem 8rem;
    height: 85vh;
}

.review-content > h1{
    color: var(--black);
}

.review-content > p{
    color: var(--black);
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
}

.review-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.review-card{
    
    color: black;
    padding: 1.5rem;
    width: 70%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    background: url("../../assets/Frame.png") no-repeat;
    background-position: top right;
    background-size: 65%;
    background-color: #f2f2f2;
}

.review-card > p {
    color: rgb(84, 84, 84);

}
.review-card-text{
    width: 30%;
}
.review-card-text > p {
    font-size: small;
    color: rgb(84, 84, 84);
}
.review-card-image{
    position: absolute;
    bottom: 0;
    right: 0;
}

.frame{
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
}

