.main{
    padding: 3rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-title{
    font-size: 5rem;
    text-align: center;
}
.title{
    font-size: 4rem;
    color: var(--white);
    text-align: center;
}
.subtitle{
    width: 70%;
    text-align: center;
}
.glow-green{
    background: linear-gradient(to right, #00ff00, #ffff00);
    background-clip: text;
    background-size: 100%;
    color: transparent;
    text-shadow: 0 1px 25px var(--yellow);
}
.main-content> p{
    margin-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.main-content-iphones {
    margin-top: 8rem;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone1,
.iphone2,
.iphone4 {
    position: relative;
    z-index: 0;
    
}

.iphone1,
.iphone2 {
    width: 25%;
    height: auto;
    z-index: -1;
}

.iphone1 {
    margin-right: 2rem;
    right: 9%;
}

.iphone2 {
    margin-left: 2rem;
    left: 9%;
}

.iphone4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: auto;
}

.iphone-bg{
    position: absolute;
    top: 1rem;
    left: 20%;
    width: 60%;
    height: 90%;
    z-index: -1;
    background-color: #00ff00;
    border-radius: 10rem; 
    box-shadow: 0 0 400px var(--light-green); 
    
}
.tablet-content{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tablet-content > p{
    margin-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.tablet{
    width: 100%;
    height: 100%;
}

.glow{
    background: #ffff00;
    background-clip: text;
    color: transparent;
}

.unlock{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.unlock-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -2rem;
}

.unlock-content > p{
    margin-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.start{
    position: relative;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.densityPhone{
    position: absolute;
    width: 50%;
    top: 9%;
}
.start > h1 {
    background: linear-gradient(to bottom, white, rgb(82, 82, 82));
    background-clip: text;
    background-size: 100%;
    color: transparent;
}
.start-button{
    z-index: 1000;
    position: absolute;
    bottom: 7rem;
    background: linear-gradient(to right, #ffff00, #00ff00);
    background-size: 100%;
    background-position: left center;
    font-weight: bold;
    box-shadow: 0 5px 20px var(--light-green);
    padding: 1rem 8rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
}
.statistics{
    margin: 10rem 0rem;
}

.community{
    margin: -2rem 0rem;
}

@media screen and (max-width: 786px) {
    .main-title{
        font-size: 3rem;
    }

    .title{
        font-size: 2rem;
    }
    .main-content> p{
        font-size: 1rem;
    }
    .unlock-content{
        font-size: 0.5rem;
    }
    .subtitle{
        font-size: 0.8rem;
        letter-spacing: 0px;
    }
    .start{
        height: 70vh;
    }
    .start-button{
        font-size: 1rem;
        padding: 0.5rem 4rem;
        bottom: 2rem;
    }
    .iphone1,
    .iphone2{
        width: 40%;
    }

    .iphone4{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}